<div class = "background">
	<div class ="name">
	<h1>Alberta B. Pedersen</h1>
	<p>Senior Software Engineer</p>
    </div>
    <div class ="contact">
    	<p>314-739-3893</p>
    	<p>albertabpetersen@rhyta.com</p>
    	<p>linkedin.com/in/pedersenbalberta</p>
	</div>
	<div class = "resume">
		<h3>Summary</h3>
		<p>Highly-skilled and motivated senior software engineer with 9 years of experience. Enhanced performance of 24 applications using ASP.NET Web Forms and MVC Razor. Increased revenue by 8% by analyzing and improving app monetization strategies. Seeking to draw on proven software development and engineering skills to increase and improve Lexor’s impressive line of applications.</p>
		<h3>Experience</h3>
	</div>

	<div class = "works">

		<p  style="font-size: 20px;    margin-bottom: 130px">Senior Software Engineer<br> 
		Omnilabs Software Suites, Columbus, OH<br>
		2015–present</p>
		<p  style="font-size: 20px">Software Engineer<br>
		Full Bronson, Cleveland, OH<br>
		2012–2015</p>
	</div>


	<div class = "cv">
		<p style="font-size: 25px;    margin-bottom: 10px">- Oversaw software development and coded profitable apps using C#, C++, ASP, Java.<br>
    - Named Prophead of the Year in 2018 for outstanding app development contribution.<br>
    - Improved and optimized main website’s UI for seamless customer experience.<br>
    <b>Key achievement:</b> Contributed to a 15% increase in sales for 2 years in a row through proactive software initiatives.</p>


        <p style="font-size: 25px">- Developed a highly functional set of applications for a large printing house’s equipment.<br>
    - Designed a sophisticated flight data analysis tool for a flight school using C++.<br>
    - Developed cross-platform compatible solutions.<br>
    <b>Key achievement:</b> Delivered apps with 100% on-time record and only minimal updates.</p>
	</div>

	<div class="education">
		<h3>Education</h3>
		<p style="font-size: 20px">Bachelor of Computer Science<br>
			Mercy College of Ohio, Toledo, OH<br>
		2011</p>
		<h3>Courses and Certification:</h3>
		<p style="font-size: 20px">- Online course on Jasmine and Karma, Udemy, 2018<br>
    - Online course on Sass, Codecademy, 2018</p>
    <h3 style = "margin-bottom: 280px">Skills:</h3>
    <h3 style = "margin-bottom: 280px">Programming Languages:<h3>
    <h3>Hobbies:</h3>
	</div>

	<div class="skills">
		    <p style="font-size: 25px">- Critical Thinking<br>
    - Problem Solving<br>
    - Time Management<br>
    - Mathematics<br>
    - Effective Communication<br>
    - Teamwork</p>

    <p style="font-size: 25px">- Java<br>
    - MySQL<br>
    - Angular<br>
    - C#<br>
    - C++<br>
    - ASP</p>

    <p style="font-size: 25px">- Cofounder and avid member of TMC (Toledo Mahjong Club).<br>
    - Regular guest columnist for RetroSoft, an online early hardware and programming magazine.<br>
    - Help desk support volunteer at the Homeless Shelter
	</p>

	</div>
</div>